@model Version_4.Models.Usuario
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="overflow:auto">
    <div class="row-cols-1">
        <div class="col">
            <div class="card">
                <div class="card-header text-center bg-dark align-middle" style="color:white; text-shadow:black">
                    <h6 style="font:900">REGISTRAR NUEVO USUARIO</h6>
                </div>
                <div class="card-body" style="align-self:center">
                    @using (Html.BeginForm("Crear", "Usuario", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Nombre)
                            @Html.TextBoxFor(m => m.Nombre, "", new { @class = "form-control", @placeholder = "Nombre" })
                            @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Apellido)
                            @Html.TextBoxFor(m => m.Apellido, "", new { @class = "form-control", @placeholder = "Apellido" })
                            @Html.ValidationMessageFor(m => m.Apellido, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.TipoIdent)
                            @Html.TextBoxFor(m => m.TipoIdent, "", new { @class = "form-control", @placeholder = "Tipo de identificacion" })
                            @Html.ValidationMessageFor(m => m.TipoIdent, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NumIdent)
                            @Html.TextBoxFor(m => m.NumIdent, "", new { @class = "form-control", @placeholder = "Numero de identificacion" })
                            @Html.ValidationMessageFor(m => m.NumIdent, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Telefono)
                            @Html.TextBoxFor(m => m.Telefono, "", new { @class = "form-control", @placeholder = "Telefono" })
                            @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                            @if (ViewBag.Error != null)
                            {
                                <span class="badge badge-danger">@ViewBag.Error</span>
                            }
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmar Contraseña" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group justify-content-md-center">
                            <input type="submit" name="submit" class="btn btn-outline-primary" value="REGISTRAR" style="width: 300px" />
                        </div>
                    }
                </div>
                <div class="row" style="float:left; margin-left:100px; margin-bottom:30px">
                    <a href="@Url.Action("Index","Usuario")" style="margin-right:15px; width:25px; height:25px; margin-left:15px;" class="icon icon-return"></a>
                </div>
            </div>
        </div>
    </div>
</div>
