@model Version_4.Models.Usuario
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="overflow:auto;">
    <div class="row-cols-1">
        <div class="col">
            <div class="card">
                <div class="card-header text-center align-middle" style="color:white; background-color:orangered">
                    <h6 style="font:900">Usuario: @Html.DisplayFor(m => m.Nombre) @Html.DisplayFor(m => m.Apellido)</h6>
                    <p style="font:600">¡¡¡ ¿Esta seguro que desea borrar este registro? !!!</p>
                </div>
                <div class="card-body" style="align-self:center; padding:60px">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayName("Nombre:")</dt>
                        <dd style="margin-bottom:20px">@Html.DisplayFor(m => m.Nombre)</dd>

                        <dt>@Html.DisplayName("Apellido:")</dt>
                        <dd style="margin-bottom:20px">@Html.DisplayFor(m => m.Apellido)</dd>

                        <dt>@Html.DisplayName("Tipo Identificacion:")</dt>
                        <dd style="margin-bottom:20px">@Html.DisplayFor(m => m.TipoIdent)</dd>

                        <dt>@Html.DisplayName("Numero Identificacion:")</dt>
                        <dd style="margin-bottom:20px">@Html.DisplayFor(m => m.NumIdent)</dd>

                        <dt>@Html.DisplayName("Telefono:")</dt>
                        <dd style="margin-bottom:20px">@Html.DisplayFor(m => m.Telefono)</dd>

                        <dt>@Html.DisplayName("Emal:")</dt>
                        <dd style="margin-bottom:20px">@Html.DisplayFor(m => m.Email)</dd>

                        <dt>@Html.DisplayName("Contraseña [Encriptada]:")</dt>
                        <dd style="margin-bottom:20px">@Html.DisplayFor(m => m.Password)</dd>
                    </dl>
                </div>
                <div class="form-row justify-content-center">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <input type="submit" name="submit" class="btn btn-outline-danger" value="ELIMINAR" style="width: 300px;" />
                    }
                </div>
                <div class="row" style="float:left; margin-left:100px; margin-bottom:30px">
                    <a href="@Url.Action("Index", "Usuario")" style="margin-right:15px; width:25px; height:25px; margin-left:15px;" class="icon icon-return" data-toggle="tooltip" data-placement="top" title="Regresar a Lista"></a>
                </div>
            </div>
        </div>
    </div>
</div>


