@model Version_4.Models.Categoria
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="overflow:auto;">
    <div class="row-cols-1">
        <div class="col">
            <div class="card">
                <div class="card-header text-center bg-dark align-middle" style="color:white; text-shadow:black">
                    <h6 style="font:900">Nombre Categoria: @Html.DisplayFor(m => m.Nombre) </h6>
                </div>
                <div class="card-body" style="padding:60px">
                    <div class="row justify-content-center">
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayName("Nombre:")</dt>
                            <dd style="margin-bottom:20px">@Html.DisplayFor(m => m.Nombre)</dd>

                            <dt>@Html.DisplayName("Descripcion:")</dt>
                            <dd style="margin-bottom:20px">@Html.DisplayFor(m => m.Descripcion)</dd>
                        </dl>
                    </div>
                    
                </div>
                <div class="row" style="float:left; margin-left:100px; margin-bottom:30px">
                    <a href="@Url.Action("Index", "Categoria")" style="margin-right:15px; width:25px; height:25px; margin-left:15px;" class="icon icon-return" data-toggle="tooltip" data-placement="top" title="Regresar a Lista"></a>
                </div>
            </div>
        </div>
    </div>
</div>

